.panel-title {
	font-size: 13px;
}

.date-picker {
	padding-top: 8px;
}

#date-picker-sel {
	text-align: center;
}

.scorecard.master-item {
	display: none;
}

.status-text, .alert {
	font-weight: bold;
}

.modal-dialog {
 	padding-top: 15%;
}

.progress {
	margin-bottom: 0;
}

tr {
	font-size: 13px;
}
tr > td:nth-child(even) {
	width: 45px;
	text-align: right;
	padding-right: 10px !important;
}

